{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <h1>Liste des utilisateurs</h1>
        <a href="index.php?route=create">Créer un utilisateur</a>
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Prénom
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.getId() }}</td>
                    <td>{{ user.getFirstName() }}</td>
                    <td>{{ user.getLastName() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>
                        <a href="index.php?route=show&id={{user.getId()}}">voir</a>
                        <a href="index.php?route=update&id={{user.getId()}}">modifier</a>
                        <a href="index.php?route=delete&id={{user.getId()}}">supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}